.para{
    color:black;
}
#name1{
    color: blueviolet;
}
#name2{
    color: green;
}
#name3{
    color: red;
}
#name4{
    color: gray;
}
#name5{
    color: greenyellow;
}
#name6{
  color: blue; 
}
#name7{
    color: chocolate;
}
#name8{
     color: lightgreen;
}
#name9{
    color: lime;
}
#name10{
   color: crimson; 
}