.para{
    background:red;
}

#city1{
    color: lightseagreen;
}
#city2{
    color: lightskyblue;
}
#city3{
    color: lightslategrey;
}
#city4{
    color: aqua
}
#city5{
    color: lightseagreen;
}
#city6{
    color: lightseagreen;
}
#city7{
    color: lightseagreen;
}
#city8{
    color: lightseagreen;
}
#city9{
    color: lightseagreen;
}
#city0{
    color: lightseagreen;
}